---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lena Collaborations">
  <div class="brand-wrapper">
    <div class="brand">Coming soon</div>
  </div>
</Layout>

<style>
  .brand-wrapper {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 2rem;
    height: calc(100vh - 360px);
  }
  .brand {
    background-color: #feffec;
    padding: 2rem;
    border-radius: 12px;
    border: 8px solid var(--light-blue);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
