---

---

<footer>
  <span>💪฿៛$₼﷼¥€💋</span>
</footer>

<style>
  footer {
    background-color: #feffec;
    display: grid;
    place-items: center;
    padding: 1rem;
    border-top: 8px solid var(--light-blue);
    margin-top: 4rem;
  }
</style>
